.compare-add {
    background-color: #cdffd8;
}

.compare-del {
    background-color: #ffdce0;
}

.compare-rep {
    background-color: #dbedff;
}

.modal-right {
  border-right: 1px  solid #c1c1c1;
}

.hide {
    visibility:hidden;
}