.compare-add {
    background-color: #cdffd8;
}

.compare-del {
    background-color: #ffdce0;
}

.compare-rep {
    background-color: #dbedff;
}

.modal-right {
  border-right: 1px  solid #c1c1c1;
}

.hide {
    visibility:hidden;
}

.hl-clause {
    background-color: #F8F9E4 !important;
}

.nav-tabs {
    margin-bottom: 2rem;
}

.bg-faded {
    background-color:#f7f7f7;
}