<!DOCTYPE html>
<html lang="en">
<head>
    {% include "dcompare/head_static.html" %}
    <title>Upload Documents to compare</title>
</head>
<body>

{#{% include "dcompare/nav.html" %}#}

<div class="container">
    <h4>Select >1 Documents To Compare</h4>
    <form action="/compare" method="post" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

{% include "dcompare/tail_static.html" %}
</body>
</html>