{%  load replace_newline %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "dcompare/head_static.html" %}
    <title>Compare</title>
</head>

<body>
{% include "dcompare/diff_modal.html" %}

<div class="container-fluid">
    <h1>Parsed Results</h1>

    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            {# for each file column #}
            {% for f in compare_table.filenames %}
                <th>{{ f }}</th>
            {% endfor %}

            {% for section_dict in compare_table.components %}
                <tr>
                    <td colspan="{{ compare_table.filenames|length|add:1 }}">{{ section_dict.bs_name }}</td>
                </tr>
                {% for s in section_dict.sections %}
                    <tr>
                        <td>{{ s.section_name }}</td>
                        {% for text in s.section %}
                            <td><p>{{ text|replace_newline|safe }} </p></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tr>

    </table>

    <button class="btn btn-primary">Generate Word Document</button>
</div>
{% include "dcompare/tail_static.html" %}

</body>
</html>