{% load replace_newline %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "dcompare/head_static.html" %}
    <title>Compare</title>
</head>

<body>

{#{% include "dcompare/nav.html" %}#}

<div class="container-fluid">
    {% include "dcompare/diff_modal.html" %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Compared!</h4>
        <p>The document-by-document comparison is listed below, grouped by Sections in the separate tabs and their respective clauses.
            Whenever a clause is moved or named differently, we will let you know.</p>
        <hr>
        <p class="mb-0">To compare a pair of texts, click to select their <span class="hl-clause">respective cell</span>,
            and type <b>c</b> on your keyboard. Click on a highlighted cell again to deselect.</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <ul class="nav nav-tabs" role="tablist" data-tabs="tabs">

        {% for section_dict in compare_table.components %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.counter0 == 0 %} active {% endif %}"
                   data-toggle="tab"
                   href="#{{ forloop.counter0 }}"
                   role="tab">{{ section_dict.bs_name|title }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for section_dict in compare_table.components %}
            <div class="tab-pane{% if forloop.counter0 == 0 %} active{% endif %}"
                 id='{{ forloop.counter0 }}'
                 role="tabpanel">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        {# for each file column #}
                        {% for f in compare_table.filenames %}
                            <th style="text-align:center">{{ f }}</th>
                        {% endfor %}

                        {% for s in section_dict.sections %}
                            <tr>
                                <td>{{ s.section_name }}</td>
                                {% for clause in s.section %}
                                    <td>
                                        {% if clause.org_section %}
                                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                <small>Actual clause is in {{ clause.org_section }}.</small>
                                            </div>
                                        {% endif %}
                                        {% if clause.org_name %}
                                            <small>Actual clause is called {{ clause.org_name }}.</small>
                                        {% endif %}
                                        <p>{{ clause.text|replace_newline|safe }} </p>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tr>

                </table>

            </div>
        {% endfor %}

    </div>

    {#        <div class="row">#}
    {#            <table class="table table-bordered table-hover">#}
    {#                <tr>#}
    {#                    <th></th>#}
    {#     for each file column#}
    {#                    {% for f in compare_table.filenames %}#}
    {#                        <th style="text-align:center">{{ f }}</th>#}
    {#                    {% endfor %}#}
    {##}
    {#                    {% for section_dict in compare_table.components %}#}
    {#                        <tr>#}
    {#                            <td style="text-align: center"#}
    {#                                colspan="{{ compare_table.filenames|length|add:1 }}">{{ section_dict.bs_name }}</td>#}
    {#                        </tr>#}
    {#                        {% for s in section_dict.sections %}#}
    {#                            <tr>#}
    {#                                <td>{{ s.section_name }}</td>#}
    {#                                {% for clause in s.section %}#}
    {#                                    <td>#}
    {#                                        {% if clause.org_section %}#}
    {#                                            <div class="alert alert-info alert-dismissible fade show" role="alert">#}
    {#                                                <small>Clause is in {{ clause.org_section }}.</small>#}
    {#                                            </div>#}
    {#                                        {% endif %}#}
    {#                                        <p>{{ clause.text|replace_newline|safe }} </p>#}
    {#                                    </td>#}
    {#                                {% endfor %}#}
    {#                            </tr>#}
    {#                        {% endfor %}#}
    {#                    {% endfor %}#}
    {#                </tr>#}
    {##}
    {#            </table>#}
    {#        </div>#}


</div>
{% include "dcompare/tail_static.html" %}

</body>
</html>